<%-include("./partials/header")-%>

    <body class="bg-black text-white flex justify-center">
        <div class="flex flex-col gap-5 h-full justify-between sm:w-[500px] md:w-[600px] lg:w-[800px]">
            <div>
                <header class="p-5 hidden md:block">
                    <h1 class="text-5xl font-bold">
                        <%= APP_NAME %>
                    </h1>
                </header>
                <section class="mt-10 flex flex-col gap-5 md:flex-row md:justify-center">
                    <div class="w-full px-5 flex-grow flex flex-col items-center justify-center gap-4 md:items-start">
                        <div class="text-center md:text-left">
                            <h1 class="text-4xl text-center font-bold text-primary md:text-left md:hidden">Collageify
                            </h1>
                            <span class="text-sm md:text-primary md:font-bold md:text-4xl">Turn your listening habits
                                into art</span>
                        </div>
                        <h2 class="hidden text-md md:block">
                            <%= APP_NAME %> creates a unique collage using album artwork from
                                your top tracks on Spotify. Show off
                                your music taste with a personalized visual grid that represents your favorite songs.
                        </h2>
                        <a href="/login"
                            class="hidden py-3 px-5 w-[250px] text-xl font-bold text-center rounded-full bg-primary text-black md:block">Login
                            with
                            Spotify
                        </a>
                    </div>
                    <div class="w-full px-5 flex flex-col gap-5 items-center">
                        <div class="grid grid-cols-3 gap-1">
                            <img src="/images/cover-1.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-2.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-3.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-4.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-5.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-6.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-7.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-8.jpg" class="rounded-md" alt="">
                            <img src="/images/cover-9.jpg" class="rounded-md" alt="">
                        </div>
                        <a href="/login"
                            class="py-3 px-5 w-[250px] text-xl font-bold text-center rounded-full bg-primary text-black md:hidden">Login
                            with
                            Spotify
                        </a>
                    </div>
                </section>
                <section class="p-5 mt-5 flex flex-col gap-4">
                    <div>
                        <h1 class="text-2xl text-center font-bold">How it Works</h1>
                    </div>
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-row gap-4">
                            <h2>1</h2>
                            <div>
                                <h2 class="font-bold text-primary">Connect with Spotify</h2>
                                <p>
                                    Log in with your Spotify account to give <%= APP_NAME %> access to your music data
                                        and listening history.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-row gap-4">
                            <h2>2</h2>
                            <div>
                                <h2 class="font-bold text-primary">Choose Your Time Range</h2>
                                <p>
                                    Select whether you want to see your top tracks from the last month, six months, or
                                    all time.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-row gap-4">
                            <h2>3</h2>
                            <div>
                                <h2 class="font-bold text-primary">Select Your Grid Size</h2>
                                <p>
                                    Choose your preferred collage layout - 3×3, 5x5, 7x7, or other grid options to
                                    customize your display.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-row gap-4">
                            <h2>4</h2>
                            <div>
                                <h2 class="font-bold text-primary">Generate Your Collage</h2>
                                <p>
                                    We'll create a beautiful grid of album artwork from your top tracks based on your
                                    Spotify listening history, perfectly arranged in your chosen layout.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="p-5">
                <%-include("./partials/footer")-%>
            </footer>
        </div>
    </body>

    </html>